{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    {% if errors %}
        <div>{{ errors.messageKey|trans(errors.messageData, 'security') }}</div>
    {% endif %}
    <div id="loginForm"></div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/login.js') }}"></script>
{% endblock %}
