{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="mdl-cell mdl-cell--12-col-desktop">
        <div>
            <p>{{ form_errors(registerForm) }}</p>
        </div>
        <div id="registerForm"></div>
    </div>
{% endblock %}

{% block react %}
    <script src="{{ asset('build/register.js') }}"></script>
{% endblock %}