{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div>
        <div>
            <p>{{ form_errors(registerForm) }}</p>
        </div>
        <div id="registerForm"></div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/register.js') }}"></script>
{% endblock %}