{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col"></div>
        <div class="mdl-cell mdl-cell--4-col">
            <div>
                <p>{{ form_errors(registerForm) }}</p>
            </div>
            <div id="registerForm"></div>
        </div>
        <div class="mdl-cell mdl-cell--4-col"></div>
    </div>
{% endblock %}

{% block data_layout %}
    {{ parent() }}
    <script>
        dataLayout.token = "{{ csrf_token('register') }}";
    </script>
{% endblock %}

{% block react %}
    <script src="{{ asset('build/home.js') }}"></script>
{% endblock %}