{% extends 'base.html.twig' %}

{% block title %}Validation{% endblock %}

{% block body %}
    {% if errors %}
        <p>{{ errors }}</p>
    {% else %}
        <p>Hello, your account has been validated !</p>
        <a href="{{ path('login') }}">Login In</a>
    {% endif %}
{% endblock %}
