###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
###> symfony/webpack-encore-pack ###
/node_modules/
###< symfony/webpack-encore-pack ###

###> symfony/phpunit-bridge ###
/phpunit.xml
###< symfony/phpunit-bridge ###

###> behat/symfony2-extension ###
behat.yml
###< behat/symfony2-extension ###

# Docker
docker/nginx/logs

# PHPUnit
coverage/phpunit/

# Frontend
public/build/*

# Quality
.php_cs.cache
