<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.1/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <env name="KERNEL_CLASS" value="App\Kernel" />
        <env name="APP_ENV" value="test" />
        <env name="APP_DEBUG" value="1" />
        <env name="APP_SECRET" value="s$cretf0rt3st" />
        <!-- define your env variables for the test env here -->

        <!-- Database development variable -->
        <env name="DATABASE_URL_DEV" value="pgsql://cyclePath:cyclePath@172.20.0.1:5432/cyclePath?charset=utf8" />

        <!-- ###+ snc/redis-bundle ### -->
        <!-- passwords that contain special characters (@, %, :, +) must be urlencoded -->
        <env name="REDIS_URL" value="redis://localhost" />
        <!-- ###- snc/redis-bundle ### -->
        <!-- ###+ symfony/swiftmailer-bundle ### -->
        <!-- For Gmail as a transport, use: "gmail://username:password@localhost" -->
        <!-- For a generic SMTP server, use: "smtp://localhost:25?encryption=&auth_mode=" -->
        <!-- Delivery is disabled by default via "null://localhost" -->
        <env name="MAILER_URL" value="null://localhost" />
        <!-- ###- symfony/swiftmailer-bundle ### -->

        <!-- ###+ lexik/jwt-authentication-bundle ### -->
        <!-- Key paths should be relative to the project directory -->
        <env name="JWT_PRIVATE_KEY_PATH" value="config/jwt/private.pem" />
        <env name="JWT_PUBLIC_KEY_PATH" value="config/jwt/public.pem" />
        <env name="JWT_PASSPHRASE" value="5ee81ef6d5e9c880dad894f74c1b3ad3" />
        <!-- ###- lexik/jwt-authentication-bundle ### -->
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>./src/*</directory>
            <exclude>
                <directory>src/Builders/Interfaces</directory>
                <directory>src/Models/Interfaces</directory>
                <directory>src/Mutators/Interfaces</directory>
                <directory>src/Resolvers/Interfaces</directory>
                <directory>src/DataFixtures</directory>
                <directory>src/Gateway</directory>
                <directory>src/Migrations</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-text" target="php://stdout"/>
    </logging>

</phpunit>
