<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.1/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <env name="KERNEL_CLASS" value="App\Kernel" />
        <env name="APP_ENV" value="test" />
        <env name="APP_DEBUG" value="1" />
        <env name="APP_SECRET" value="s$cretf0rt3st" />
        <env name="SHELL_VERBOSITY" value="-1" />
        <!-- define your env variables for the test env here -->

        <!-- Database variables -->
        <env name="DB_DRIVER_PROD" value="pdo_pgsql" />
        <env name="DB_VERSION_PROD" value="9.6" />
        <env name="DATABASE_URL_PROD" value="pgsql://project:project@production_ip:5432/project" />
        <env name="DB_HOST" value="172.20.0.1" />
        <env name="DB_DRIVER_DEV" value="pdo_pgsql" />
        <env name="DB_CHARSET_DEV" value="utf8" />
        <env name="DB_VERSION_DEV" value="9.6" />
        <env name="DATABASE_URL_DEV" value="pgsql://cyclePath:cyclePath@127.0.0.1:5432/cyclePath" />
        <env name="DB_CHARSET_TEST" value="utf8mb4" />
        <env name="DB_VERSION_TEST" value="5.7" />
        <env name="DB_DRIVER_TEST" value="pdo_sqlite" />
        <env name="DATABASE_URL_TEST" value="sqlite:///%kernel.project_dir%/var/data.db" />
    </php>

    <testsuites>
        <testsuite name="Unit tests">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>./src/*</directory>
            <exclude>
                <directory>src/Builders/Interfaces</directory>
                <directory>src/Events/Interfaces</directory>
                <directory>src/Models/Interfaces</directory>
                <directory>src/Mutators/Interfaces</directory>
                <directory>src/Resolvers/Interfaces</directory>
                <directory>src/DataFixtures</directory>
                <directory>src/Gateway</directory>
                <directory>src/Migrations</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-text" target="php://stdout"/>
    </logging>
</phpunit>
