{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="mdl-cell mdl-cell--12-col-desktop">
        <div id="user"></div>
        <div class="home_background-image"></div>
        <div id="home"></div>
    </div>
{% endblock %}

{% block data_layout %}
    {{ parent() }}
    <script type="text/javascript">
        dataLayout.user = "{{ app.user.username ?? "" }}";
    </script>
{% endblock %}
