{% extends 'base.html.twig' %}

{% block body %}
    <p>Hello World !</p>
    <div id="example"></div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/main.js') }}"></script>
{% endblock %}
