{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <section class="home__cover full">
        <p>Hello World !</p>
    </section>
    <section class="home__informations full">
        <p>Hello from second section !</p>
    </section>
    <section class="">
        <p>Hello from second section !</p>
    </section>
    <section class="">
        <p>Hello from second section !</p>
    </section>
    <section class="">
        <p>Hello from second section !</p>
    </section>
    <section class="">
        <p>Hello from second section !</p>
    </section>
    <section class="">
        <p>Hello from second section !</p>
    </section>
{% endblock %}

{% block data_layout %}
    {{ parent() }}
    <script type="text/javascript">
        dataLayout.user = "{{ app.user.username ?? "" }}";
    </script>
{% endblock %}
