.core__footer {
  z-index: 2;
  height: 25px;
  position: relative;
  overflow-x: hidden;
  background-color: whitesmoke;
}

.footer__text {
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 12px;
}
