.home__cover {
  position: relative;
  z-index: 2;
  background-color: yellow;
  overflow-x: hidden;
}

.home__informations {
  position: relative;
  z-index: 2;
  background-color: white;
  overflow-x: hidden;
  height: 500px;
}

